.share-post-component {
  &>.container {
    input {
      width: 100%;
      padding: 1rem;
      margin-bottom: 1.25rem;
      outline: none;
      border-top: none;
      border-bottom: 2px solid var(--color-purple-1);
      border-bottom: none;
      font-size: 1.1rem;
    }

    .action {
      display: flex;
      justify-content: end;

      button {
        width: unset;
        margin-right: .5rem;
      }
    }
  }
}